:root {

    --clr-white: 0, 0%, 100%;
    --clr-cyan: 178, 100%, 50%;
    --clr-soft-blue: 215, 51%, 70%;
    --very-dark-blue-line: 216, 32%, 27%;

    --font-family-outfit: 'Outfit', sans-serif;
}

*,
*::before, 
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
 
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
  max-width: 1440px;
 
  padding: 10px;
  background-image: url('./assets/bg-main-desktop.png');
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;

  position: relative;

  @media screen and (min-width: 676px) {
    padding: 50px 30px;
  }
  @media screen and (min-width: 1200px) {
    padding: 50px 100px;
  }
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  width: 100%;
  display: block;
}

header {

    .logo {
        width: 146.093px;
        height: 32px;
        display: inline-block;
    }

    .image {
        position: absolute;
        top: -36px;

        display: none;

        @media screen and (min-width: 676px) {
            display: block;
            width: 266.667px;
            height: 400px;
            right: -3%;
        }

        @media screen and (min-width: 1200px) {
            width: 312px;
            height: 468px;
            right: 0;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
        gap: 25px;

        @media screen and (min-width: 676px) {
            margin-top: 150px;
        }

        .title {
            max-width: 327px;
            color: #191826;
            font-family: IBM Plex Sans;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: 48px;
            letter-spacing: -0.455px;

            @media screen and (min-width: 676px) {
                max-width: 520px;
                font-size: 64px;
                line-height: 64px;
                letter-spacing: -0.727px;
            }

            @media screen and (min-width: 1200px) {
            max-width: 1000px;
            font-size: 88px;
            line-height: 88px; 
            letter-spacing: -1px;
            }
        }

        .description {
            max-width: 327px;
            color: #191826;
            font-family: IBM Plex Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px; 

            @media screen and (min-width: 676px) {
                max-width: 514px;
                font-size: 18px;
                line-height: 28px;
            }

            @media screen and (min-width: 1200px) {
                max-width: 790px;
                font-size: 20px;
                line-height: 34px;
            }
        }
    }
}

main {
    position: relative;
    margin-top: 250px;

    .container {
        max-width: 375px;
        height: 600px;
        border-radius: 12px;
        background: #191826;

        @media screen and (min-width: 676px) {
            max-width: 696px;
        }
        @media screen and (min-width: 1200px) {
            max-width: 1110px;
        }

        .image {
            position: absolute;
            top: -17%;
            left: 20%;
            width: 208.972px;
            height: 430px;
            z-index: 1;

            @media screen and (min-width: 676px) {
            width: 270.206px;
            height: 556px; 
            left: 7%;
            top: -20%;
            }

            @media screen and (min-width: 1200px) {
                top: -30%;
                left: 12%;
                width: 280px;
                height: 606px;
            }
        }

        .image-bg {
            position: absolute;
            left: 5.5%;
            top: 0%;

            @media screen and (min-width: 676px) {
                left: 28.5%;
                top: -8%;
            }
        }

        .content {
            width: 375px;
            height: 546px;
            padding: 25px;

            border-radius: 12px;
            background: #FA7453;
            position: absolute;

            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;

            right: 0%;
            top: 74%;
            
            @media screen and (min-width: 676px) {
                width: 399px;
                height: 546px;
                top: 30%;
                right: 12%;            
                z-index: 2;
                padding: 30px;
            }

            @media screen and (min-width: 1200px) {
                top: 20%;
                right: 20%; 
            }

            .title {
                color: #FCFAF9;
                font-family: IBM Plex Sans;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: 52px; 

                @media screen and (min-width: 676px) {
                font-size: 32px;}
            }
            
            .description {
                color: #FCFAF9;
                font-family: IBM Plex Sans;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 34px;

                @media screen and (min-width: 676px) {
                font-size: 18px;
                }
            }
            
            .price {
                display: flex;
                gap: 20px;
                
                color: #FCFAF9;
                font-family: IBM Plex Sans;
                font-size: 65px;
                font-style: normal;
                font-weight: 700;
                line-height: 52px; 
                
                span {
                    color: #FCFAF9;
                    font-family: IBM Plex Sans;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px;
                    letter-spacing: -0.2px;
                }
            }
            
            .btns {
                
                .btn {
                    width: 333px;
                    height: 61px;
                    border-radius: 12px;
                    border: none;
                    
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    
                    @media screen and (min-width: 676px) {
                        width: 296px;
                        height: 61px;
                    }
                    img {
                        width: 17.083px;
                        height: 20px; 
                    }
                }
    
                .btn-ios {
                    background: #66E2DC;

                   &:hover {
                        background: #191826;
                        color: #FCFAF9;
                    }
                }
    
                .btn-android {
                    background: #FFB964;
                    margin-top: 20px;

                    &:hover {
                        background: #FCFAF9;
                    }
                }
                
            }
        }
    }
}